<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomtop.member.mappers.order.OrderDetailMapper" >
  <update id="updateOrderDetailCommentId" parameterType="map" >
 	 update t_order_detail 
 	 set commentid=#{commentid,jdbcType=INTEGER} 
  	 where iorderid=#{oid,jdbcType=INTEGER} and clistingid=#{listingId,jdbcType=VARCHAR}
  </update>
</mapper>