@import "newshopping";



/**³É¹¦**/
.newshopping_success{
  width: 1200px; margin: 0 auto;padding: 40px 0 30px 105px;overflow: hidden;border-bottom: 1px solid #ccc;
  .icon_smile{
    width: 118px; height:118px;margin-right: 45px; background:url("../images/smil.png") no-repeat;display: inline-block;float: left;
  }
  .icon_cry{
    width: 118px; height:118px;margin-right: 45px; background:url("../images/cry.png") no-repeat;display: inline-block;float: left;
  }
  .a_try_again{min-width: 98px;height: 32px;margin:15px 0 35px;padding:0 12px;line-height:32px;border-radius: 3px;background: #ff9900; color: #fff;display: inline-block;text-align: center;}
}
.ns_success_login{
  width: 1200px; margin:27px auto 0;overflow: hidden;
  .left_advertisement{
    width: 228px;float: left;margin-right: 35px;
    img{width: 100%;margin-bottom: 15px;}
  }
  .right_login{
    float: left;
    &>dl dt{font-weight: bold;font-size: 14px; color: #333;}
    &>dl dd{ margin-top: 10px;color: #666;
      a{color: #4d82b8}
      &.please_note{
        margin: 15px 0;
        span{font-weight:bold;}
      }
    }
  }
}
.ns_login_box{
  margin: 15px 0;
  .ns_login_left{
    background: #f0f6fd;width: 386px; min-height: 317px;border: 1px dashed #4d82b8;padding:20px 0 15px 35px;float: left;
    h3{margin: 0;font-size: 14px;}
    p{ padding: 15px 0 20px 0;}
    .lable_error{ color: red;display: block;margin-top: -10px;display: none}
    .text_input{height:38px;line-height:38px;width: 254px;margin-bottom: 17px; border: 1px solid #ccc; padding:0 10px 0 50px ;}
    .ns_login_submit{
      margin-top: 7px;
      input[type="submit"]{color:#fff;font-size:14px;margin-right:40px;width: 135px;height: 35px;border-radius: 2px;background: #4d82b8;border: 0}
      a{color: #4d82b8;}
    }
    .ns_email{background:#fff url("../images/ns_login_email.png") no-repeat 10px center;}
    .ns_suo{background:#fff url("../images/ns_login_suo.png") no-repeat 15px center;}
  }
  .ns_login_right{
    float: right;padding:10px 20px;border: 1px dashed #4d82b8;margin-left: 55px;width: 496px;height: 317px;
    h5{margin: 0;color: #333;margin-bottom: 5px;font-size: 12px}
    dt{font-weight: bold;margin: 10px 0 10px 0;}
    dd{margin:13px 0;}
  }
}
.newshopping_success_con{
  float: left;
  h3{ margin: 36px 0 15px 0;font-size: 20px;color: #333;}
  &>p{color: #666;
    a{color: #4d82b8;}
  }
  .nosuccess_con{
    p{margin-top:5px;
      a{color: #4d82b8}
    }
  }
}
.newshopping_nosuccess{border: 0;
  h3{margin: 0 0 30px 0 }
}
.app_twonum_box{
  overflow: hidden;clear: both;
  h3{margin: 20px 0;font-size: 12px;}
}
.app_twonum{
  &>a{float: left; text-align: center;margin: 0 5px;}
  &>span{color: #333;float: left;    margin: 45px 36px 0 29px;}
  .app_twonum_img{
    float: left;margin-top: 20px;
    a{width: 105px;height: 30px;display: inline-block; margin-bottom: 15px;}
  }
  .a_android{
    background: url("../images/adnroid_app.gif") no-repeat;
  }
  .a_ios{
    background: url("../images/ios_app.gif") no-repeat;
  }
}
.app_twonum_input{
  clear: both;padding-top:28px;
  a{color: #4d82b8; margin-left: 10px;}
  input{width: 142px;border: 0;margin-right: 10px; height: 32px; background: #ff9900;border-radius: 4px;color: #fff;}
}