<li class="oceanpayment_qiwi">
    <dl>
	    <dt class="clearfix">
	    <span class="payment_img fl">
	        <img src="/mobile/icon/qiwi_150x70.jpg">
	    </span>
	    <span class="chooseOneBox fr lineBlock">
	        <label>
	            <div class="radio lineBlock"><i class="icon_check"></i></div>
	        </label>
	    </span>
	    </dt>
	    <dd>
	        <img src="/mobile/icon/qiwi_640x70.jpg" />
	        <p class="p">
	            Пожалуйста, введите Ваш QIWI аккаунт! Номер телефона обязательно нужно указать для оплаты.
	        </p>
	        <p class="p"><b>Номер телефона:</b></p>
	        <div class="chose_state">
	                <span class="cur">
	                    <i class="state_icon"></i>
	                    <b class="">+7</b>
	                </span>
	            <input type="type" value="" class="phone" name="qiwiAccount">
	            <input value="+7" name="qiwiCountry" id="qiwiCountry" type="hidden">
	            <div class="state">
	                <ul>
	                    <li><a href="javascript:;">  <i class="place_01"></i> <em>Россия</em><b>+7</b></a></li> 
						<li> <a href="javascript:;"> <i class="place_02"></i> <em>Казахстан</em> <b class="i-country-code fn-right">+77</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_03"></i> <em>Украина</em> <b class="">+380</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_04"></i> <em>Грузия</em> <b class="">+995</b> </a> </li>
						<li> <a href="javascript:;"> <i class="place_05"></i> <em>Панама</em> <b class="">+507</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_06"></i> <em>Великобритания</em> <b class="">+44</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_07"></i> <em>Таджикистан</em> <b class="">+992</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_08"></i> <em>Литва</em> <b class="">+370</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_09"></i> Израиль</em> <b class="">+972</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_10"></i> <em>Кыргызстан</em> <b class="">+996</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_11"></i> <em>Турция</em> <b class="">+90</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_12"></i> <em>Вьетнам</em> <b class="">+84</b> </a> </li> 
						<li> <a href="javascript:;"> <i class=""></i> <em>Азербайджан</em> <b class="">+994</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_13"></i> <em>Армения</em> <b class="">+374</b> </a> </li>
						<li> <a href="javascript:;"> <i class="place_14"></i> <em>Латвия</em> <b class="">+371</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_15"></i> <em>Индия</em> <b class="">+91</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_16"></i> <em>Таиланд</em> <b class="">+66</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_17"></i> <em>Молдавия</em> <b class="">+373</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_18"></i> <em>Эстония</em> <b class="">+372</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_19"></i> <em>Япония</em> <b class="">+81</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_20"></i> <em>Узбекистан</em> <b class="">+998</b> </a> </li> 
						<li> <a href="javascript:;"> <i class="place_21"></i> <em>Южная Корея</em> <b class="">+82</b> </a> </li>
	                </ul>
	            </div>
	        </div>
	        <p class="p">
	            Внимание: ваша личная информация находится в безопасности.<br/>
	            TOMTOP не хранит какую-либо информацию о вашей учетной записи.
	        </p>
	    </dd>
	</dl>
</li>