<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomtop.base.mappers.VhostBaseMapper">
	<resultMap id="BaseResultMap" type="com.tomtop.base.models.dto.VhostBase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="vhost" property="vhost" jdbcType="VARCHAR" />
		<result column="language_id" property="languageId" jdbcType="INTEGER" />
		<result column="client_id" property="clientId" jdbcType="INTEGER" />
		<result column="currency_id" property="currencyId" jdbcType="INTEGER" />
		<result column="order_placeholder" property="orderPlaceholder" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
		<result column="created_by" property="createdBy" jdbcType="VARCHAR" />
		<result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
		<result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
		<result column="last_updated_on" property="lastUpdatedOn" jdbcType="TIMESTAMP" />
		<result column="is_enabled" property="isEnabled" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, vhost, language_id, client_id, currency_id, 
		order_placeholder,is_deleted,created_by,created_on,
		last_updated_by,last_updated_on, is_enabled
	</sql>
	
	<select id="getAllVhostBase" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" /> 
		 from base_vhost 
		 where is_enabled=1 and is_deleted=0
	</select>
		
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="id != null"> and id = #{id}</if>
				<if test="vhost != null">and vhost = #{vhost}</if>
				<if test="languageId != null">and language_id = #{languageId}</if>
				<if test="clientId != null">and client_id = #{clientId}</if>
				<if test="currencyId != null">and currency_id = #{currencyId}</if>
				<if test="orderPlaceholder != null">and order_placeholder = #{orderPlaceholder}</if>
				<if test="isDeleted != null">and is_deleted = #{isDeleted}</if>
				<if test="createdOn != null">and created_on = #{createdOn}</if>
				<if test="lastUpdatedOn != null">and last_updated_on = #{lastUpdatedOn}</if>
				<if test="isEnabled != null">and is_enabled = #{isEnabled}</if>
			</trim>
		</where>
	</sql>	
	
	<select id="getVhostBase" resultMap="BaseResultMap"
			parameterType="com.tomtop.base.models.dto.VhostBase">
		select 
		<include refid="Base_Column_List" /> 
		from base_vhost
		<include refid="Base_Where_Clause" /> 
	</select>
	
</mapper>