ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #ccc;
  background-color: transparent;
  font-size: 12px;
}
td,
th {
  padding: 0;
  border-color: #ccc;
}
a {
  color: #333;
  text-decoration: none;
}
.fontB {
  font-weight: bold;
}
.white {
  color: #ffffff;
}
.blue {
  color: #0881d3;
}
.orange {
  color: #ff6600;
}
.green {
  color: #449d02;
}
.red {
  color: #ba0000;
}
.txtLength {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clear {
  clear: both;
}
.fontF {
  font-family: Times New Roman;
  font-style: italic;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:hover {
  box-shadow: 2px 2px 3px #cccccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
}
input[type="button"]:hover {
  box-shadow: 2px 2px 3px #cccccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
}
.inputY {
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #d29d0c;
  border-style: solid;
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -165px;
  font-weight: bold;
  cursor: pointer;
  color: #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  color: #000;
  font-size: 16px;
  text-shadow: 1px 1px 0px #ffe392;
  -moz-text-shadow: 1px 1px 0px #ffe392;
  -webkit-text-shadow: 1px 1px 0px #ffe392;
}
.ticketsCodeTxt {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  padding: 5px;
  width: 105px;
  height: 30px;
  margin-right: 10px;
}
.ticketsCodeTxt:focus {
  outline: none;
  border: #37a8ef 1px solid;
  box-shadow: 0 0 3px #37a8ef;
}
.refresh {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-left: 10px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -264px -467px;
  vertical-align: middle;
}
.discount {
  position: absolute;
  left: auto;
  top: 7px;
  width: 32px;
  height: 38px;
  z-index: 9;
  right: 7px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -384px -48px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 2px 12px 5px 2px;
  text-align: right;
}
.publicTitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 17px;
  height: 32px;
  overflow: hidden;
}
.publiceImg {
  display: block;
}
.countDown {
  padding: 5px;
}
.publicPrice {
  margin: 6px 0;
  padding: 0 5px;
}
.publicPrice .presentPrice {
  font-size: 18px;
  font-weight: bold;
  color: #ff6600;
  display: block;
}
.publicPrice .presentPrice .currency {
  margin-right: 3px;
}
.publicPrice .originalPrice {
  text-decoration: line-through;
  display: block;
}
.productReviews {
  float: left;
  width: 80px;
  height: 15px;
  position: relative;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -6px -141px;
  margin-right: 5px;
  margin-left: 5px;
}
.productStar {
  width: 90%;
  height: 15px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -6px -117px;
}
.smallReviews {
  float: left;
  width: 66px;
  height: 12px;
  position: relative;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -132px -526px;
  margin-right: 5px;
  margin-top: 2px;
  margin-left: 5px;
}
.smallStar {
  width: 90%;
  height: 12px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -2px -526px;
}
.upFileHead {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 25px;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 10px;
}
.upFileHead a {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  display: block;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -105px;
  color: #000000;
  width: 85px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
}
.upFileHead input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 85px;
  height: 25px;
  opacity: 0;
  margin-top: 0px !important;
  cursor: pointer;
  color: #333333;
}
.browseLeft_click {
  left: 3px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -210px -177px;
}
.browseLeft_click:hover {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -380px -549px;
}
.browseRight_click {
  right: 3px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -262px -177px;
}
.browseRight_click:hover {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -419px -549px;
}
.border {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
}
.rightUse {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -225px -28px;
  margin-left: 3px;
  vertical-align: middle;
  cursor: auto;
}
.lineBlock {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0px;
  *word-spacing: -1px;
}
.empty {
  width: 1px;
  height: 100%;
  font-size: 0px;
  vertical-align: middle;
  display: inline-block;
}
.hsInputs {
  height: 30px;
  padding: 6px 15px;
  color: #fff;
  font-size: 14px;
  background-color: #666666;
  border: 0px;
}
.hsInputs:hover {
  color: #fff;
  box-shadow: 2px 3px 4px #cccccc;
  -moz-box-shadow: 2px 3px 4px #cccccc;
  -webkit-box-shadow: 2px 3px 4px #cccccc;
}
.hsInputd {
  height: 30px;
  padding: 6px 15px;
  color: #ffffff;
  font-size: 14px;
  background-color: #d0d0d0;
  border: 0px;
}
.hsInputd:hover {
  color: #ffffff;
  box-shadow: 2px 3px 4px #cccccc;
  -moz-box-shadow: 2px 3px 4px #cccccc;
  -webkit-box-shadow: 2px 3px 4px #cccccc;
}
.error_s {
  line-height: 13px;
  min-height: 25px;
  min-height: 16px \9;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #ff5f11;
  border-style: solid;
  padding: 5px 13px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  cursor: auto;
  margin: 2px 0px;
  margin-left: 30px;
  display: inline-block;
}
.error_s:after {
  content: "";
  position: absolute;
  left: -30px;
  top: 15%;
  width: 30px;
  height: 17px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -416px -236px;
}
.top_inner {
  height: 35px;
  width: 100%;
  background-color: #e3e3e3;
  min-width: 1200px;
}
.top_inner .topCountries_left {
  min-width: 520px;
  float: left;
}
.top_inner .topCountries_left > li {
  position: relative;
  padding-left: 28px;
  padding-right: 10px;
  float: left;
  width: auto;
  height: auto;
  line-height: 35px;
}
.top_inner .topCountries_left > li:hover {
  cursor: pointer;
  color: #333333;
  background-color: #eeeeee;
}
.top_inner .topCountries_left > li span em {
  position: absolute;
  left: 0px;
  top: 7px;
  width: 23px;
  height: 20px;
  z-index: 99;
  right: auto;
  display: block;
}
.top_inner .topCountries_left .topCountries_first {
  padding-right: 20px;
  padding-left: 5px;
}
.top_inner .topCountries_left .topCountries_first a {
  padding: 0px;
  line-height: 34px;
}
.top_inner .topCountries_left .topCountries_first a:hover {
  background-color: transparent;
}
.top_inner .topCountries_left .topCountries_first span > em {
  width: 20px;
}
.top_inner .topCountries_left .topCountries_first:after {
  content: "";
  position: absolute;
  left: auto;
  top: 13px;
  width: 18px;
  height: 17px;
  z-index: 99;
  right: 0px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -483px -70px;
}
.top_inner .topCountries_left .topCountries_second em {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -34px 0px;
}
.top_inner .topCountries_left .topCountries_third em {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -65px 0px;
}
.top_inner .topCountries_left .topCountries_fourth em {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -94px 0px;
}
.top_inner .topCountries_left .topCountries_fifth {
  position: relative;
}
.top_inner .topCountries_left .topCountries_fifth em {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -218px 0px;
}
.top_inner .topCountries_left .topCountries_fifth .appCode {
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 99999998;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  text-align: center;
  display: none;
}
.top_inner .topCountries_left .topCountries_fifth .appCode > div {
  padding: 8px;
}
.top_inner .topCountries_left .topCountries_fifth .appCode > div > p {
  line-height: 20px;
}
.top_inner .topCountries_left .topCountries_fifth .appCode:after {
  content: "";
  position: absolute;
  left: 25px;
  top: -10px;
  width: 15px;
  height: 10px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -260px -53px;
}
.top_inner .topCountries_left .topCountries_FR em {
  background: url(../images/flag_0714.png) -217px -57px;
}
.top_inner .topCountries_left .topCountries_DE em {
  background: url(../images/flag_0714.png) -356px -57px;
}
.top_inner .topCountries_left .topCountries_IT em {
  background: url(../images/flag_0714.png) -436px -77px;
}
.top_inner .topCountries_rigt {
  float: right;
  min-width: 316px;
  text-align: right;
}
.top_inner .topCountries_rigt > div {
  position: relative;
  *float: left;
  display: inline-block;
  line-height: 35px;
  padding-left: 25px;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: auto;
  margin-right: 30px;
  margin-bottom: auto;
}
.top_inner .topCountries_rigt > div:first-child {
  padding-right: 5px;
}
.top_inner .topCountries_rigt > div:hover {
  cursor: pointer;
  color: #333333;
  background-color: #eeeeee;
}
.top_inner .topCountries_rigt > div span {
  position: absolute;
  left: 5px;
  top: 8px;
  width: 20px;
  height: 20px;
  z-index: 99;
  right: auto;
  display: block;
}
.top_inner .topCountries_rigt .orderTracking {
  text-align: left;
}
.top_inner .topCountries_rigt .orderTracking span {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -426px -3px;
}
.top_inner .topCountries_rigt .help {
  text-align: left;
  min-width: 70px;
  height: 35px;
  margin-right: 5px;
}
.top_inner .topCountries_rigt .help span {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -452px -3px;
}
.top_inner .topCountries_rigt .liveChat {
  max-width: 205px;
  height: 35px;
  margin-right: 0px;
  right: -1px;
  padding-left: 0px;
  text-align: left;
}
.top_inner .topCountries_rigt .liveChat > p {
  white-space: nowrap;
  padding-left: 25px;
  padding-right: 15px;
  position: relative;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #e3e3e3;
  border-style: solid;
  height: 34px;
  border-bottom: 0px;
  color: #018add;
}
.top_inner .topCountries_rigt .liveChat:hover > p {
  background-color: #ffffff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-bottom: 0px;
  z-index: 99999999;
  height: 35px;
}
.top_inner .topCountries_rigt .liveChat:hover .liveChat_hover {
  display: block;
}
.top_inner .topCountries_rigt .liveChat > p span {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -474px -5px;
}
.top_inner .topCountries_rigt .liveChat:after {
  content: "";
  position: absolute;
  left: auto;
  top: 12px;
  width: 18px;
  height: 17px;
  z-index: 99999999;
  right: -5px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -360px -220px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover {
  position: absolute;
  left: auto;
  top: 34px;
  width: 395px;
  height: auto;
  z-index: 99999998;
  right: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: none;
  border-top-right-radius: 0px;
  cursor: auto;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_txt {
  position: relative;
  padding-left: 65px;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: auto;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_txt .liveChat_phone {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -5px -377px;
  position: absolute;
  left: 0px;
  top: 25px;
  width: 49px;
  height: 45px;
  z-index: 99;
  right: auto;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_txt .liveChat_find {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -66px -377px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_txt .liveChat_title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_txt a {
  color: #4686cb;
  text-decoration: underline;
  margin-right: 10px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX {
  color: #333333;
  padding-left: 65px;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: auto;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX p {
  position: relative;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX span {
  display: block;
  left: -30px;
  top: 0px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX .liveChat_E,
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX .liveChat_P {
  margin-bottom: 5px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX .liveChat_E span {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -90px -66px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover .liveChat_emailBOX .liveChat_P span {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -130px -66px;
}
.top_inner .topCountries_rigt .liveChat .liveChat_hover p {
  line-height: 19px;
  padding: 0;
}
.submitRequest_Box .postPhotos_popBox {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 890px;
  height: 80%;
  z-index: 1;
  right: auto;
  margin-top: -40%;
  margin-left: -445px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #ffffff;
  padding: 20px 40px;
  line-height: 25px;
  padding: 20px 10px;
  padding-left: 20px;
  max-height: 550px;
  color: #666666;
  line-height: 18px;
  cursor: auto;
}
.submitRequest_Box .postPhotos_popBox h6 {
  margin: 0px 10px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.submitRequest_Box .postPhotos_popBox .ticketUsing {
  margin-bottom: 10px;
  margin-left: 10px;
}
.submitRequest_Box .postPhotos_popBox .inputY {
  width: 135px;
  height: 35px;
  margin-top: 10px;
  padding: 5px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr td {
  padding: 5px 10px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr td:first-child {
  text-align: right;
  width: 160px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr .requestInp_txt {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  width: 425px;
  height: 30px;
  padding: 5px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr .requestInp_txt:focus {
  outline: none;
  border: #37a8ef 1px solid;
  box-shadow: 0 0 3px #37a8ef;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr select {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  width: 425px;
  height: 28px;
  padding: 5px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr .upFileHead {
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr textarea {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  width: 425px;
  height: 115px;
  padding: 5px;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr textarea:focus {
  outline: none;
  border: #37a8ef 1px solid;
  box-shadow: 0 0 3px #37a8ef;
}
.submitRequest_Box .postPhotos_popBox .ticket_topTable tr .attachmentTd_tik {
  padding-top: 10px;
  vertical-align: top;
}
.scrollBox {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.topNavCon {
  width: 100%;
}
.topNavigation_box {
  padding: 7px 0;
}
.topNavigation_box .topNavigation_logo {
  float: left;
  width: auto;
  height: auto;
  line-height: auto;
  padding-top: 25px;
}
.topNavigation_box .topNavigation_txt {
  float: left;
  width: auto;
  height: auto;
  line-height: auto;
  padding-left: 25px;
  padding-top: 40px;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 19999998;
  position: relative;
}
.topNavigation_box .topNavigation_txt .topBrd > li {
  float: left;
  width: auto;
  height: 15px;
  line-height: 15px;
  padding-left: 11px;
  padding-top: auto;
  padding-right: 11px;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: #cccccc;
  border-style: solid;
  white-space: nowrap;
  position: relative;
}
.topNavigation_box .topNavigation_txt .topBrd > li:first-child {
  border-left: 0;
}
.topNavigation_box .topNavigation_txt .topBrd > li a {
  display: inline-block;
  height: 25px;
  line-height: 29px;
  padding: 0 5px;
  color: #0881d3;
}
.topNavigation_box .topNavigation_txt .topBrd > li > a {
  margin-top: -8px;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl {
  position: relative;
  width: auto;
  z-index: 0;
  margin: 0;
  padding: 0;
  margin-top: -8px;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl:hover {
  position: relative;
  z-index: 31;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl:hover dt {
  position: absolute;
  *position: relative;
  left: 0;
  top: 0;
  z-index: 9999999;
  background-color: #ffffff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-bottom: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl:hover dd {
  display: block;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  z-index: 999999;
  border-top-right-radius: 3px;
  background-color: #fff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  top: 25px;
  left: 0px;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl:hover dd a:after {
  content: none;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dt {
  border: 1px solid #fff;
  border-bottom: 0px;
  white-space: nowrap;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dt a {
  padding: 0 19px 0 15px;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dd {
  display: none;
  position: absolute;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dd a:hover {
  color: #fff;
  text-decoration: none;
  display: block;
  background-color: #1b68b6;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dd li {
  border-top: 1px solid #f9f9f9;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dd li:first-child {
  border: 0;
}
.topNavigation_box .topNavigation_txt .topBrd > li dl dd li a {
  color: #999999;
  background: none;
  display: block;
  height: auto;
  line-height: 14px;
  overflow: hidden;
  padding: 7px 10px 7px 15px;
  word-wrap: break-word;
  white-space: nowrap;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underFree a {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dl:hover dt {
  height: 26px;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dl:hover dt a {
  height: 25px;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dt a {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dd {
  margin-left: -155px;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dd ul li {
  display: inline-block;
  border-bottom: 0;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dd ul li a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 0;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dd ul li a:hover {
  background-color: #ffffff;
}
.topNavigation_box .topNavigation_txt .topBrd > li.underDeals dd ul li:first-child a {
  padding-left: 5px;
}
.topNavigation_box .topNavigation_txt .topBrd .UnderSJ_top {
  padding: 0;
}
.topNavigation_box .topNavigation_txt .topBrd .UnderSJ_top dt a {
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: right -475px;
  background-repeat: no-repeat;
}
.topNavigation_box .topNavigation_txt .topBrd .UnderSJ_top dt a:after {
  position: absolute;
  left: auto;
  top: 5px;
  width: 18px;
  height: 18px;
  z-index: 100;
  right: 5px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -483px -70px;
}
.topNavigation_box .topNavigation_app {
  float: right;
  min-width: 315px;
  height: 85px;
  max-width: 405px;
}
.topNavigation_box .topNavigation_app .appStore,
.topNavigation_box .topNavigation_app .googlePlay {
  float: left;
  width: 130px;
  height: 30px;
  line-height: auto;
  cursor: pointer;
  color: #333333;
}
.topNavigation_box .topNavigation_app .appStore {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -8px -256px;
  margin-right: 12px;
}
.topNavigation_box .topNavigation_app .googlePlay {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -148px -256px;
}
.topNavigation_box .topNavigation_app .dropShipping_ul {
  margin-top: 24px;
  text-align: right;
}
.topNavigation_box .topNavigation_app .dropShipping_ul li {
  float: left;
  margin-left: 5px;
  float: right;
  text-align: left;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .dropShipping_txt {
  position: relative;
  max-width: 137px;
  height: 30px;
  z-index: 1;
  padding-left: 45px;
  padding-top: 2px;
  margin-left: 10px;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .dropShipping_txt:hover {
  cursor: pointer;
  color: #333333;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .dropShipping_txt em {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 38px;
  height: 38px;
  z-index: 99;
  right: auto;
  display: block;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .dropShipping,
.topNavigation_box .topNavigation_app .dropShipping_ul .redeemPoints,
.topNavigation_box .topNavigation_app .dropShipping_ul .affiliateProgram {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .dropShipping {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -371px -26px;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .redeemPoints {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -413px -26px;
}
.topNavigation_box .topNavigation_app .dropShipping_ul .affiliateProgram {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -455px -26px;
}
.topSearch_box {
  position: relative;
  width: 1200px;
  height: 52px;
  z-index: auto;
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -104px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom-left-radius: 0px;
  margin-bottom: 7px;
  z-index: 9999999;
}
.topSearch_box .topSearch_title {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 230px;
  height: 52px;
  z-index: 999999;
  right: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -45px;
  line-height: 50px;
  *width: 180px!important;
}
.topSearch_box .topSearch_title:hover {
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -362px;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
}
.topSearch_box .topSearch_title:after {
  content: "";
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -449px -72px;
  position: absolute;
  left: auto;
  top: 22px;
  width: 16px;
  height: 18px;
  z-index: -1;
  right: 10px;
}
.topSearch_box .topSearch_title #menu_index_top h2 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.topSearch_box .topSearch_title #menu_index_top a {
  color: #ffffff;
  display: block;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topSearch_box .topSearch_title #nav h4 {
  font-size: 12px;
  margin: 0px;
}
.topSearch_box .topSearch_title #nav .sidelist:hover h4 {
  margin-left: -15px;
}
.topSearch_box .topSearch_title #nav .sidelist:hover h4 a {
  display: block;
  margin-left: -5px;
}
.topSearch_box .topSearch_title #nav .offer3 a {
  margin-left: 0px;
}
.topSearch_box .topSearch_signIn .loginMY,
.topSearch_box .topSearch_signIn .loginMYs {
  background-color: #f7f7f7;
}
.topSearch_box .topSearch_informationPIC,
.topSearch_box .topSearch_informationTXT,
.topSearch_box .topSearch_icon,
.topSearch_box .topSearch_txt,
.topSearch_box .topCart_icon,
.topSearch_box .topCart_txt {
  float: left;
}
.topSearch_box .topSearch_icon,
.topSearch_box .topCart_icon {
  width: 35px;
  height: 35px;
}
.topSearch_box .topCart_txt {
  width: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topSearch_box .topSearch_signIn {
  position: absolute;
  left: auto;
  top: 0px;
  width: 175px;
  height: 52px;
  z-index: 98;
  right: 139px;
  color: #000000;
  font-size: 14px;
}
.topSearch_box .topSearch_signIn:hover {
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
}
.topSearch_box .topSearch_signIn:hover .topSearch_signInOver {
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-color: #cccccc;
  border-style: solid;
  padding-left: 9px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  z-index: 100;
}
.topSearch_box .topSearch_signIn:hover ul {
  display: block;
}
.topSearch_box .topSearch_signIn input {
  width: 155px;
  line-height: 26px;
  margin-top: 8px;
  color: #ffffff;
  border-radius: 3px;
  border: 0px;
  font-size: 12px;
}
.topSearch_box .topSearch_signIn form {
  margin-bottom: 0px;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 175px;
  height: 52px;
  z-index: 99;
  right: auto;
  color: #000000;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_icon {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -365px -67px;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt {
  width: 115px;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt .orange {
  width: 100px;
  display: block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt b {
  width: 107px;
  color: #333333;
  cursor: pointer;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt b span {
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt b a {
  color: #333333;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt b:hover {
  color: #0881d3;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt b:hover a {
  color: #0881d3;
}
.topSearch_box .topSearch_signIn .topSearch_signInOver .topSearch_txt .seHello {
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.topSearch_box .topSearch_signIn ul {
  position: absolute;
  left: -32px;
  top: 50px;
  width: auto;
  height: auto;
  z-index: 99;
  right: auto;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  font-size: 12px;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  color: #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-right-radius: 0px;
  background-color: #ffffff;
  display: none;
  *left: -12px;
}
.topSearch_box .topSearch_signIn ul li {
  width: 205px;
  text-align: center;
}
.topSearch_box .topSearch_signIn ul li .login_hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px;
}
.topSearch_box .topSearch_signIn ul li .existingAcc {
  padding-left: 0px;
  text-align: center;
  padding-bottom: 10px;
}
.topSearch_box .topSearch_signIn ul li .log_sinIn {
  background-color: #1077c7;
}
.topSearch_box .topSearch_signIn ul li .log_Free {
  background-color: #4f4f4f;
  margin-bottom: 10px;
}
.topSearch_box .topSearch_signIn ul li a {
  display: block;
  padding: 5px 25px;
  text-align: left;
}
.topSearch_box .topSearch_signIn ul li .logIcon {
  width: 37px;
  text-align: left;
  margin-left: 3px;
  vertical-align: top;
}
.topSearch_box .topSearch_signIn ul li .logIcon .lineBlock {
  display: inline-block;
}
.topSearch_box .topSearch_signIn ul li .logIcon input {
  width: 37px;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 5px;
}
.topSearch_box .topSearch_signIn ul li .logIcon input:hover {
  box-shadow: none;
}
.topSearch_box .topSearch_signIn ul li p {
  text-align: left;
  padding-left: 25px;
}
.topSearch_box .topSearch_signIn ul .loginMY:hover {
  background-color: #e8e8e8;
  cursor: pointer;
  color: #333333;
}
.topSearch_box .topSearch_signIn p {
  margin-top: 8px;
}
.topSearch_box .topSearch_signIn:after {
  content: "";
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -463px -69px;
  position: absolute;
  left: auto;
  top: 28px;
  width: 21px;
  height: 15px;
  z-index: 100;
  right: 0px;
}
.topSearch_box .topSearch_signIn .sinOut {
  padding-top: 15px;
  padding-bottom: 5px;
}
.topSearch_box .topSearch_signIn .sinOut li:hover {
  background-color: #1b68b6;
  cursor: pointer;
}
.topSearch_box .topSearch_signIn .sinOut li:hover a {
  color: #ffffff;
}
.topSearch_box .topSearch_signIn .sinOut input {
  background-color: #ffffff;
  border: 0;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
}
.topSearch_box .topSearch_signIn .sinOut hr {
  margin-bottom: -5px;
}
.topSearch_box .topSearch_signIn .sinOut .sinOut_input {
  padding-top: 0px;
  padding-bottom: 0px;
}
.topSearch_box .topSearch_signIn .sinOut .sinOut_input:hover {
  background-color: #ffffff;
}
.topSearch_box .topSearch_cart {
  position: absolute;
  left: auto;
  top: 0px;
  width: 120px;
  height: 50px;
  z-index: 98;
  right: -1px;
  color: #000000;
  font-size: 14px;
  line-height: 50px;
  *right: 28px;
}
.topSearch_box .topSearch_cart:hover {
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
}
.topSearch_box .topSearch_cart:hover .topSearch_Hidebox {
  display: block;
}
.topSearch_box .topSearch_cart:hover .topSearch_cartOver {
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-color: #cccccc;
  border-style: solid;
  background-color: #fff;
  padding-left: 14px;
  padding-top: auto;
  padding-right: 14px;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-top-right-radius: 5px;
}
.topSearch_box .topSearch_cart:after {
  content: "";
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -463px -69px;
  position: absolute;
  left: auto;
  top: 18px;
  width: 15px;
  height: 15px;
  z-index: 100;
  right: 17px;
}
.topSearch_box .topSearch_cart .topSearch_cartOver {
  position: absolute;
  left: auto;
  top: 0px;
  width: 120px;
  height: 52px;
  z-index: 100;
  right: auto;
  padding-left: 15px;
  padding-top: auto;
  padding-right: 15px;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.topSearch_box .topSearch_cart .topSearch_cartOver .topCart_icon {
  position: relative;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -404px -70px;
  padding-left: auto;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: auto;
}
.topSearch_box .topSearch_cart .topSearch_cartOver .topCart_icon p {
  position: absolute;
  width: 35px;
  text-align: center;
  top: -18px;
  color: #f87c02;
  font-size: 16px;
  font-weight: bold;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox {
  position: absolute;
  left: auto;
  top: 50px;
  width: 335px;
  height: auto;
  z-index: 99;
  right: 0px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  font-size: 12px;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-right-radius: 0px;
  color: #999999;
  line-height: 18px;
  display: none;
  background-color: #ffffff;
  *right: -31px;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information {
  margin: 13px;
  position: relative;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .topSearch_informationPIC {
  width: 82px;
  height: 82px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #efefef;
  border-style: solid;
  overflow: hidden;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .topSearch_informationTXT {
  width: 190px;
  margin-left: 10px;
  word-wrap: break-word;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .informationTXT_sale {
  margin-top: 5px;
  margin-bottom: 3px;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .informationOff {
  color: #cd0000;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .informationOriginal {
  color: #999999;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .informationPrice {
  color: #ff6600;
  font-size: 18px;
  font-weight: bold;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_information .informationClose {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -430px -152px;
  position: absolute;
  left: auto;
  top: 55px;
  width: 15px;
  height: 15px;
  z-index: 1;
  right: 0px;
  cursor: pointer;
  color: #333333;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .noneProduct {
  padding: 20px;
  line-height: 25px;
  color: #666666;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .noneProduct a {
  color: #00479f;
  text-decoration: underline;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_informationInput {
  height: 58px;
  background-color: #eeeeee;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .topSearch_informationInput input {
  background-image: url("../images/icon_background.png");
  background-repeat: repeat-x;
  background-position: 0 -165px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #d29d0c;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: bold;
  width: 190px;
  height: 30px;
  color: #010101;
  margin: 15px 0 0 68px;
}
.topSearch_box .topSearch_cart .topSearch_Hidebox .scrollPRO {
  height: 285px;
  overflow-y: scroll;
}
.topSearch_search {
  position: absolute;
  left: 245px;
  top: 8px;
}
.topSearch_search input[type="text"] {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 10px;
  width: 530px;
  height: 33px;
  float: left;
}
.topSearch_search input[type="text"]:focus {
  outline: none;
  border: #37a8ef 1px solid;
  box-shadow: 0 0 3px #37a8ef;
}
.topSearch_search .blackInput {
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #0387da;
  color: #ffffff;
  padding: 0 20px;
  margin-left: -3px;
  height: 33px;
  line-height: 31px;
  float: left;
}
.topSearch_search .blackInput:hover {
  background-color: #027ac6;
}
.topSearch_hidden {
  position: absolute;
  left: 0px;
  top: 33px;
  width: 530px;
  height: auto;
  z-index: 999999;
  right: auto;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  background-color: #ffffff;
  border-top: 0;
  padding: 5px 0;
  padding-bottom: 30px;
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  display: none;
}
.topSearch_hidden li {
  padding: 5px 15px;
  color: #999999;
}
.topSearch_hidden li:hover {
  background-color: #e7e7e7;
  color: #333333;
}
.topSearch_hidden li:first-child {
  border-bottom: 1px dashed #ccc;
  padding-left: 5px;
  font-size: 14px;
  color: #ff6600;
  margin: 5px;
}
.topSearch_hidden li:first-child:hover {
  background-color: #ffffff;
}
.formTxt_left {
  text-align: left;
  margin: 0 15px;
}
.log_Face {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -376px -379px;
  padding: 0px !important;
}
.log_Paypal {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -415px -379px;
  padding: 0px !important;
}
.log_google {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -456px -379px;
  padding: 0px !important;
}
.log_WhatsApp {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -376px -417px;
  padding: 0px !important;
}
.log_Amazon {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -416px -417px;
  padding: 0px !important;
}
.log_Twitter {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -456px -417px;
  padding: 0px !important;
  display: inline-block !important;
}
.minframe .submenu a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}
.minframe .submenu .navDD {
  line-height: 22px;
}
.minframe .submenu .fo13,
.minframe .submenu .fo16 {
  width: auto;
}
.hotProduct_box {
  padding: 15px 20px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}
.hotProduct_box .key_tags {
  width: 680px;
  float: left;
}
.hotProduct_box .key_tags span {
  background-color: #fff;
  white-space: nowrap;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline;
  float: left;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  margin-left: 0px;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 3px;
}
.hotProduct_box .key_tags span a {
  color: #333;
}
.hotProduct_box .key_tags span:hover {
  background-color: #ffa200;
  border: 1px solid #ffa200;
}
.hotProduct_box .key_tags span:hover a {
  color: #fff;
  text-decoration: underline;
}
.hotProduct_box .key_tags .abcde_title {
  color: #2883cc;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
.hotProduct_box .hotProduct_search {
  float: left;
  width: 400px;
  margin-top: 28px;
  margin-left: 50px;
}
.hotProduct_box .hotProduct_search .hotProduct_pic {
  float: left;
  width: 68px;
  height: 55px;
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -8px -307px;
  margin-bottom: 5px;
}
.hotProduct_box .hotProduct_search .hotProduct_txt {
  float: left;
  margin-left: 15px;
  color: #999999;
  line-height: 18px;
  width: 310px;
}
.hotProduct_box .hotProduct_search input[type="text"] {
  width: 305px;
  line-height: 30px;
  height: 30px;
  padding: 5px 10px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  background-color: #ffffff;
  float: left \9;
}
.hotProduct_box .hotProduct_search input[type="text"]:focus {
  outline: none;
  border: #37a8ef 1px solid;
  box-shadow: 0 0 3px #37a8ef;
}
.hotProduct_box .hotProduct_search .blackInput {
  width: 80px;
  height: 30px;
  line-height: 28px;
  border: 0px;
  background-color: #0387da;
  margin-left: -4px;
  color: #ffffff;
  float: left \9;
}
.hotProduct_box .hotProduct_search .blackInput:hover {
  background-color: #027ac6;
}
.bottom_box {
  width: 100%;
  min-width: 1200px;
  margin-top: 15px;
  background-color: #f2f2f2;
}
.bottom_box .bottom_width {
  width: 1200px;
  margin: 0 auto;
}
.bottom_box .bottom_width .join_sns {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 10px;
  text-align: center;
}
.bottom_box .bottom_width .join_sns li {
  margin: 0 10px;
  text-align: left;
  display: inline-block;
  min-width: 100px;
  *float: left;
  *width: 120px;
}
.bottom_box .bottom_width .join_sns li span {
  float: left;
}
.bottom_box .bottom_width .join_sns li .join_snsTXT {
  margin-top: 3px;
  margin-left: 10px;
}
.bottom_box .bottom_width .join_sns li a {
  position: relative;
  display: block;
  padding-left: 40px;
}
.bottom_box .bottom_width .join_sns li.spanFacebook .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: 0px -556px;
}
.bottom_box .bottom_width .join_sns li.spanFacebook:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: 0px -606px;
}
.bottom_box .bottom_width .join_sns li.spanTwitter .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -50px -556px;
}
.bottom_box .bottom_width .join_sns li.spanTwitter:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -50px -606px;
}
.bottom_box .bottom_width .join_sns li.spanPinterest .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -101px -556px;
}
.bottom_box .bottom_width .join_sns li.spanPinterest:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -101px -606px;
}
.bottom_box .bottom_width .join_sns li.spanBlog .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -151px -556px;
}
.bottom_box .bottom_width .join_sns li.spanBlog:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -151px -606px;
}
.bottom_box .bottom_width .join_sns li.spanYoutube .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -202px -556px;
}
.bottom_box .bottom_width .join_sns li.spanYoutube:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -202px -606px;
}
.bottom_box .bottom_width .join_sns li.spanForum .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -252px -556px;
}
.bottom_box .bottom_width .join_sns li.spanForum:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -252px -606px;
}
.bottom_box .bottom_width .join_sns li.spanGoogle .spans {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  right: auto;
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -303px -556px;
}
.bottom_box .bottom_width .join_sns li.spanGoogle:hover .spans {
  background-image: url("../images/icon_big.png");
  background-repeat: no-repeat;
  background-position: -303px -606px;
}
.bottom_box .bottom_width .bottom_link_BOX {
  width: 1130px;
  margin-left: 70px;
}
.bottom_box .bottom_width .bottom_link_BOX .bottom_linkB {
  float: left;
  width: 220px;
  margin-left: 5px;
}
.bottom_box .bottom_width .bottom_link_BOX .bottom_link_title {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom_box .bottom_width .bottom_link_BOX .bottom_link li {
  background-image: url("../images/icon_small.png");
  background-repeat: no-repeat;
  background-position: -494px -132px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 14px;
}
.bottom_box .bottom_width .bottomPayple_icon {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}
.bottom_box .bottom_width .bottomPayple_icon ul {
  margin-left: 300px;
  margin-bottom: 15px;
}
.bottom_box .bottom_width .bottomPayple_icon ul li {
  float: left;
  margin: 0 7px;
}
.nav_ljh {
  width: 50px;
  height: auto;
  padding-left: 1215px;
  margin: auto;
  position: relative;
}
.nav_ljh .nav_ljhFix {
  width: 37px;
  position: fixed;
  z-index: 999;
  bottom: 10%;
}
#top {
  width: 37px;
  height: 30px;
}
.livechat_ljh,
.right_floor {
  width: 37px;
  height: 37px;
  margin-top: 5px;
  background-color: #8e8f93;
  text-align: center;
  line-height: 37px;
  position: relative;
}
.livechat_ljh a,
.right_floor a {
  color: #fff;
  font-size: 18px;
  font-family: Times New Roman;
  font-weight: bold;
  font-style: italic;
  display: block;
}
.right_floor {
  display: none;
}
#top {
  opacity: 0;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  background-image: url(../images/nav.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
}
#top:hover {
  background-position: -2px -42px;
}
#top a {
  line-height: 45px;
  text-align: center;
  color: #fff;
  display: block;
  height: 36px;
  width: 36px;
}
.livechat_ljh {
  background-image: url(../images/nav.png);
  background-repeat: no-repeat;
  background-position: -42px -2px;
  background-color: #018add;
}
.livechat_ljh:hover,
.right_floor:hover {
  background-color: #018add;
}
.livechat_ljh:hover a,
.right_floor:hover a {
  color: #fff;
}
.floorH {
  background-color: #018add;
}
.livechat_ljh:hover .livechat01,
.right_floor:hover .livechat01 {
  display: block;
}
.livechat_ljh:hover .livechat02,
.right_floor:hover .livechat02 {
  display: block;
}
.livechat_ljh a {
  display: block;
  width: 37px;
  height: 37px;
}
.livechat01 {
  box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  -webkit-box-shadow: 0 0 6px #cccccc;
  width: auto;
  white-space: nowrap;
  padding: 0px 10px 0px 10px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  right: 48px;
  top: 6px;
  border: 1px #CCC solid;
  background: #fff;
  display: none;
}
.livechat02 {
  width: 10px;
  height: 28px;
  background-image: url(../images/nav.png);
  background-repeat: no-repeat;
  background-position: -70px -83px;
  position: absolute;
  right: 40px;
  top: 6px;
  border: 0px #CCC solid;
  display: none;
}
.pu_pop {
  position: fixed;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.pu_pop .pu_popBox {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 35px 20px;
  text-align: center;
}
.pu_pop .pu_popBox .pu_popTxt {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.pu_pop .pu_popBox a {
  padding: 3px 20px;
  height: 25px;
  margin: 10px 0px;
}
.pu_pop .pu_popBox .pop_puButton {
  position: absolute;
  bottom: -44px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-top: 0px;
  padding-right: 1px;
  box-sizing: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.pu_pop .pu_popAuto {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
  text-align: left;
}
.pu_pop .pu_popCon {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  min-width: 300px;
  min-height: 150px;
  max-height: 80%;
  max-width: 80%;
  background-color: #ffffff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #fff;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/*# sourceMappingURL=model.css.map */