<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomtop.loyalty.mappers.loyalty.CodeMapper">

	<insert id="add" parameterType="com.tomtop.loyalty.models.CouponCode"
		useGeneratedKeys="true" keyProperty="iid">
		insert into t_coupon_code
		(
		icouponruleid,
		ccode,
		icreator,
		iusestatus
		)
		values
		(
		#{icouponruleid,jdbcType=INTEGER},
		#{ccode,jdbcType=VARCHAR},
		#{icreator,jdbcType=INTEGER},
		#{iusestatus,jdbcType=INTEGER}
		)
	</insert>

</mapper>